/*
 * ultimaDSEcaller Nextflow configuration.
 */

manifest {
    name            = 'ultimaDSEcaller'
    author          = 'Eric Bareke, Ethan Bareke, Conrad Bareke'
    homePage        = 'https://ebareke.github.io/ultimaDSEcaller/'
    description     = 'FASTQ to differential splicing events (short- and long-read)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

params {
    samplesheet = null
    gtf         = null
    fasta       = null
    contrast    = 'group:treatment-control'
    outdir      = 'results'
    tech_extra  = ''        // extra flags passed through to `ultimaDSEcaller run`
    container   = 'ghcr.io/ebareke/ultimadsecaller:1.0.0'
}

process {
    container = params.container

    withLabel: 'index' {
        cpus   = 8
        memory = 32.GB
        time   = '6h'
    }
    withLabel: 'align' {
        cpus   = 8
        memory = 32.GB
        time   = '8h'
    }
    withName: 'ULTIMADSE' {
        cpus   = 8
        memory = 16.GB
        time   = '4h'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
    test {
        params.samplesheet = "${projectDir}/../example/nextflow/samplesheet.csv"
        params.gtf         = "${projectDir}/../example/synthetic/annotation.gtf"
        params.fasta       = "${projectDir}/../example/synthetic/reference.fa"
        params.contrast    = 'group:treatment-control'
        params.outdir      = 'test_results'
    }
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html" }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html" }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.txt" }
